SEARXNG_TOKEN=XXX
SEARXNG_HOST="XXXX"

DB_URI=http://milvus:19530
DB_TOKEN=




EMBEDDING_PROVIDER=openai



BAICHUAN_URL=http://api.baichuan-ai.com
BAICHUAN_EMBEDDING_MODAL=Baichuan-Text-Embedding
BAICHUAN_API_KEY=xxx


OPENAI_URL=https://api.openai.com/v1
OPENAI_EMBEDDING_MODAL=text-embedding-3-large
OPENAI_API_KEY=xxxx


EMBEDDIN_COLLECTION_NAME="keyword_search"